<div class="col-sm-2 votecell stack-div">
  <table>
    <tr><td><a href="/questions/"><span class="glyphicon glyphicon-triangle-top"></span></a></td></tr>
    <tr><td>0</td></tr>
    <tr><td><a href="/questions/"><span class="glyphicon glyphicon-triangle-bottom"></span></a></td></tr>
    <tr><td><a href="/questions/"><span class="glyphicon glyphicon-star"></span></a></td></tr>
  </table>
</div>
