<!-- # Duplicate info from new.erb and edit.erb forms goes in this partial. -->

<div class="form-group">
  <label for="body" class="col-sm-2 control-label">Body</label>
  <div class="col-sm-10">
    <input class="form-control" id="body" name="comment[body]" type="text" value="<%= @comment.body %>" placeholder="Body" />
  </div>
</div>
