<!-- # Duplicate info from new.erb and edit.erb forms goes in this partial. -->

<div class="form-group">
  <label for="user_id" class="col-sm-2 control-label">User Id</label>
  <div class="col-sm-10">
    <input class="form-control" id="user_id" name="vote[user_id]" type="text" value="<%= @vote.user_id %>" placeholder="User Id" />
  </div>
</div>



