<div class="">

  <div class="erb_header">
    <h3>Vote Detail View</h3>
  </div>

  <table class="table table-bordered table-hover table-striped text-nowrap">
    <tr>
      <th class="w-small">ID</th>
      <th class="w-small">User Id</th>
      <th class="w-med">Updated</th>
    </tr>

    <tr>
      <td><%= @vote.id %></td>
      <td><%= @vote.user_id %></td>
      <td><%= @vote.updated_at.strftime('%x')%></td>
    </tr>

  </table>
</div>
